footer{
  width: 100%;
  background-color: #000;
  border-radius: 1rem 1rem 0 0 ;
  max-height: 45vh;
  padding: 2rem 1rem;
}
.container--logo{
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.container--logo img{
  width: 38px;
  height: 45px;
}
.container--logo h4{
  font-size: 25px;
  color: #fff;
  margin: 0 0 0 1rem;
}
.container--elements--fotter{
  display: flex;
  justify-content: space-between;
}
.container-links{
  display: flex;
  justify-content: space-between;
}

.link__footer{
  color: #fff;
  font-size: .9rem;
  font-weight: 400;
  text-decoration: none;
}
.icon i{
  margin: 0 10px;
}

.container-contact h4{
  font-size: 1.2rem;
  color: #fff;
}